* {
    margin: 0 auto;
    padding: 0 auto;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: #CDD2BE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  
  
   h1 {
    color: #944B3F;
    text-align: center;
    font-family: Kurale;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .koala-05 {
    margin-top: 70px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  button  {
    margin: 50px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    width: 219px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D2B9B1;
    color: #AC544C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Kurale;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }