* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0.00) 100%);
}



nav {
    padding: 10px;
    flex-direction: column;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-flex;
}

.btn0 {
    padding-top:10%;
    width: 360px;
    height: 81px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: #D2B9B1;
    color: #AC544C;
    font-family: Kurale;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    text-align: center;
    
}

.btn1 {
    margin: 8%;
    width: 276px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D2B9B1; 
    color: #AC544C;
    font-family: Kurale;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn2 {
    margin: 8%;
    width: 276px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D2B9B1; 
    color: #AC544C;
    font-family: Kurale;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#NewUsuario {
    flex-direction: column;
    width: 276px;
    height: 54px;
    flex-shrink: 0;
    background: #FFF;
    color: #AC544C;
    font-family: Kurale;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

#Password2{
    flex-direction: column;
    width: 276px;
    height: 54px;
    flex-shrink: 0;
    background: #FFF;
    color: #AC544C;
    font-family: Kurale;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
#bt4{margin: 50px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    width: 219px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D2B9B1;
    color: #AC544C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Kurale;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  #bt4:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    filter: brightness(1.50);
  }
#E-Mail{
    flex-direction: column;
    width: 276px;
    height: 54px;
    flex-shrink: 0;
    background: #FFF;
    color: #AC544C;
    font-family: Kurale;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}




.btn3 {
    margin: 50px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    width: 219px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D2B9B1;
    color: #AC544C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Kurale;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  button:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    filter: brightness(1.50);
  }


  .koala3 {
    display: block;
    width: 50%;
    margin: auto;
}

